@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


.quiz_box.activeQuiz {
    pointer-events: auto;
}

.quiz_box {
    background: var(--bs-bg); /* Use Bootstrap's background variable */
    color: var(--bs-color); /* Use Bootstrap's text color variable */
    margin-top: 100px;
    border: 1px solid white;
}

.quiz_box header {
    height: 70px;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid white;
}

.quiz_box header .title {
    font-size: 20px;
    font-weight: 600;
    
}

section {
    padding: 25px 30px 20px 30px;
    background: var(--bs-bg);
}

section .que_text {
    font-size: 25px;
    font-weight: 600;
}

section .options_list {
    padding: 20px 0;
    display: block;
}

section .options_list .option {
    background: var(--bs-bg);
    border: 1px solid lightgray;
    border-radius: 10px;
    padding: 8px 15px;
    font-size: 17px;
    margin-bottom: 15px;
    cursor: pointer;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

section .options_list .option:last-child {
    margin-bottom: 0;
}

section .options_list .option:hover {
    background: #fff;
    color: #0e2954;
    font-weight: bold;
}

section .options_list .option.correct {
    color: #008514;
    background: #d4edda;
    border: 1px solid #c3e6cb;
}

section .options_list .option.incorrect {
    color: #721c24;
    background: #f8d7da;
    border: 1px solid #f5c6cb;
}


section .options_list .option.disabled {
    pointer-events: none;
}

section .options_list .option .icon {
    height: 26px;
    width: 26px;
    border: 2px solid transparent;
    border-radius: 50%;
    text-align: center;
    font-size: 13px;
    pointer-events: none;
    transition: all 0.3s ease;
    line-height: 24px;
}

.options_list .option .icon.tick {
    color: #23903c;
    border-color: #23903c;
    background: #d4edda;
}

.options_list .option .icon.cross {
    color: #a42834;
    background: #f8d7da;
    border-color: #a42834;
}

/* FOOTER */

.question-footer {
    height: 60px;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid lightgray;
    background: var(--bs-bg)
}

.question-footer .total_que span, p {
    display: flex;
    align-items: center;
}

.question-footer .total_que span p {
    font-weight: 800;
    padding: 0 5px;
    margin-top: 15px;
}
