@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


.result_box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19)
}


.quiz_box.activeQuiz,.result_box.activeResult {
    pointer-events: auto;
}

.quiz_box {
    background: var(--bs-bg); /* Use Bootstrap's background variable */
    color: var(--bs-color); /* Use Bootstrap's text color variable */
    margin-top: 100px;
    border: 1px solid white;
}

.quiz_box header {
    height: 70px;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid white;
}

.quiz_box header .title {
    font-size: 20px;
    font-weight: 600;
    
}

section {
    padding: 25px 30px 20px 30px;
    background: var(--bs-bg);
}

section .que_text {
    font-size: 25px;
    font-weight: 600;
}

section .options_list {
    padding: 20px 0;
    display: block;
}

section .options_list .option {
    background: var(--bs-bg);
    border: 1px solid lightgray;
    border-radius: 10px;
    padding: 8px 15px;
    font-size: 17px;
    margin-bottom: 15px;
    cursor: pointer;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

section .options_list .option:last-child {
    margin-bottom: 0;
}

section .options_list .option:hover {
    background: #fff;
    color: #0e2954;
    font-weight: bold;
}

section .options_list .option.correct {
    color: #008514;
    background: #d4edda;
    border: 1px solid #c3e6cb;
}

section .options_list .option.incorrect {
    color: #721c24;
    background: #f8d7da;
    border: 1px solid #f5c6cb;
}


section .options_list .option.disabled {
    pointer-events: none;
}

section .options_list .option .icon {
    height: 26px;
    width: 26px;
    border: 2px solid transparent;
    border-radius: 50%;
    text-align: center;
    font-size: 13px;
    pointer-events: none;
    transition: all 0.3s ease;
    line-height: 24px;
}

.options_list .option .icon.tick {
    color: #23903c;
    border-color: #23903c;
    background: #d4edda;
}

.options_list .option .icon.cross {
    color: #a42834;
    background: #f8d7da;
    border-color: #a42834;
}

/* FOOTER */

#footer {
    height: 60px;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid lightgray;
    background: var(--bs-bg)
}

#footer .total_que span {
    display: flex;
    use-select: none;
}

#footer .total_que span p {
    font-weight: 800;
    padding: 0 5px;
}

#footer .total_que span p:first-child {

}

#footer button {
    height: 40px;
    width: 80px;
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
    border: 1px solid lightgray;
    outline: none;
    border-radius: 5px;
    background-color: var(--bs-bg);
    line-height: 10px;
    opacity: 1;
    pointer-events: none;
    transform: scale(0.95);
    transition: all 0.3s ease;
}

#footer button:hover {
    background: #fff;
    color: #0e2954;
    font-weight: bold;
}

#footer button.show {
    opacity: 1;
    pointer-events: auto;
    transform: scale(1);
}

/* RESULT BOX */

.result_box {
    background: #fff;
    border-radius: 10px;
    display: flex;
    padding: 20px 35px;
    width: 400px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transform: translate(-50%, -50%) scale(0.9);
    pointer-events: none;
    transition: all 0.3s ease;
    opacity: 0;
}

.result_box .icon {
    font-size: 100px;
    color: #0e2954;
    margin-bottom: 10px;
}

.result_box .complete_text {
    font-size: 20px;
    font-weight: 500;
}

.result_box .score_text span {
    display: flex;
    margin: 10px;
    font-size: 18px;
    font-weight: 500;
}

.result_box .score_text span p {
    padding: 0 4px;
    font-weight: 600;
}

.result_box .buttons {
    display: flex;
    margin: 20px 0;
}

.result_box .buttons button {
    margin: 0 10px;
    height: 45px;
    padding: 0 20px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 5px;
    border: 1px solid #007bff;
    transition: all 0.3s ease;
}

.buttons button.restart {
    font-size: 18px;
    color: #0e2954;
    background: #fff;
    border: none;
    outline: none;
}

.buttons button.restart:hover {
    color: #fff;
    background: #0e2954;
    font-size: 19px;
}

.buttons button.quit {
    color: #1565c0;
    background: #fff;
    border: none;
    outline: none;
}

.buttons button.quit:hover {
    font-size: 18px;
    color: #fff;
    background: #d32f2f;

}
