{% extends 'global/base.html' %}

{% block title %}Home | {% endblock title %}


{% block content %}
<h1 class="text-center">Quiz Links</h1>
<div class="card-deck my-4">
    {% for quiz in quizzes %}
        <div class="card my-4">
            <div class="card-body">
                <h5 class="card-title">{{ quiz.name }}</h5>
                <p class="card-text">{{ quiz.description }}</p>
                <a href="{% url 'quizzes:quiz' quiz.id %}" class="btn btn-primary">Take Quiz</a>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock content %}

