{% extends 'global/base.html' %}

{% load static %}

{% block specific-css %}
<link rel="stylesheet" href="{% static 'quizzes/css/quiz-view.css' %}">
{% endblock specific-css %}

{% block title %}Quiz | {% endblock title %}

{% block content %}
<div class="quiz_box">
    <header>
        <div class="title">Answer the Questions</div>
    </header>
    <section>
        <div class="que_text"></div>
        <div class="options_list"></div>
    </section>
    <div id="footer">
        <div class="total_que"></div>
        <button class="next_btn">Next</button>
    </div>
</div>

<div class="result_box">
    <div class="icon">
        <i class="fas fa-trophy"></i>
    </div>

    <div class="complete_text">You've completed the quiz</div>
    <div class="score_text"></div>
    <div class="buttons">
        <button class="restart">Replay Quiz</button>
        <button class="quit">Quit Quiz</button>
    </div>
</div>
{% endblock content %}

{% block scripts%}
<script src="{% static 'quizzes/js/play-quiz.js' %}" defer data-quizzes="{{ quiz }}"></script>
{{ quiz|json_script }}
{% endblock scripts %}