{% extends 'global/base.html' %}

{% load static %}

{% block specific-css %}
<link rel="stylesheet" href="{% static 'quizzes/css/quiz-view.css' %}">
{% endblock specific-css %}

{% block title %}Quiz | {% endblock title %}

{% block content %}
<div class="quiz_box">
    <header>
        <div class="title">{{ quiz_name }}</div>
    </header>
    <section>
        <div class="que_text"></div>
        <div class="options_list"></div>
    </section>
    <div id="footer">
        <div class="total_que"></div>

        <div class="footer_buttons">
            <button class="back_btn">Back</button>
            <button class="next_btn">Next</button>
        </div>

    </div>
</div>
{% endblock content %}

{% block scripts%}
<script src="{% static 'quizzes/js/play-quiz.js' %}" defer data-quiz="{{ quiz_json }}"></script>
{{ quiz|json_script }}
{% endblock scripts %}